{% extends "parent.html" %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <style>
    table th {
      width: auto !important;
    }
  </style>
  
  <script text="text/javascript">
    $(document).ready(function() {
      $("[rel=tooltip]").tooltip({ placement: 'top'});
    });
  </script>

{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <br>

    {% if g.num_results(count, page, limit) > 0 %}
      <nav>
        <ul class="pagination pagination-sm pull-right">
          {% if page == 1 %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page if page == 1 else page - 1) }}">
              &laquo;
            </a>
          </li>

          {% if g.total_pages(count, limit) <= 10 %}

            {% for i in range(1, g.total_pages(count, limit) + 1) %}

              {% if i == page %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}

              <a href="{{ g.replace_page(request.url, i) }}">
                {{ i }}
              </a>

              </li>

            {% endfor %}
          {% else %} 
            {% if g.total_pages(count, limit) - page < 4 %}

              <li>
                <a href="{{ g.replace_page(request.url, 1) }}">
                  1
                </a>
              </li>
              <li>
                <a href="{{ g.replace_page(request.url, 2) }}">
                  ... 
                </a>
              </li>

              {% for i in range(g.total_pages(count, limit) - 4, g.total_pages(count,limit) + 1) %}
                   
                {% if i == page %}
                  <li class="active">
                {% else %}
                  <li>
                {% endif %}

                <a href="{{ g.replace_page(request.url, i) }}">
                  {{ i }}
                </a>
          
                </li>
              {% endfor %}

          {% elif page < 6 %}
            {% for i in range(1, 7) %}

              {% if i == page %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}

              <a href="{{ g.replace_page(request.url, i) }}">
                {% if i == 6 %}
                  ...
                {% else %}
                  {{ i }}
                {% endif %}
              </a>

              </li>
           {% endfor %}
     
            <li>
              <a href="{{ g.replace_page(request.url, g.total_pages(count, limit)) }}">
                  {{ g.total_pages(count, limit) }}
              </a>
            </li>
          {% else %}

            <li>
              <a href="{{ g.replace_page(request.url, 1) }}">
                1
              </a>
            </li>
            <li>
              <a href="{{ g.replace_page(request.url, 2) }}">
                ... 
              </a>
            </li>

            {% for i in range(page - 2, page + 4) %}
              {% if i == page %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}

              <a href="{{ g.replace_page(request.url, i) }}">
                {% if i == page + 3 %}
                  ...
                {% else %}
                  {{ i }}
                {% endif %}
              </a>

              </li>
            {% endfor %}

            <li>
              <a href="{{ g.replace_page(request.url, g.total_pages(count, limit)) }}">
                {{ g.total_pages(count, limit) }}
              </a>
            </li>
          {% endif %}
        {% endif %}

          {% if page + 1 > g.total_pages(count, limit) %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page + 1) }}">
              &raquo;
            </a>
          </li>
        </ul>
      </nav>

      <table class="table table-hover"> 
        <thead>
          <tr class="row">
            <th>
              Time
              <span class="glyphicon glyphicon-info-sign"
                    rel="tooltip" title="All times given in UTC">
              </span>
            </th>
            <th>Nick</th>
            <th>User</th>
            <th>Host</th>
            <th>GeoIP</th>
            <th>Event</th>
          </tr>
        </thead>
        
        <tbody>
        {% for event in events %}
          <tr class="row">
            <td>{{ g.epoch_to_str(event['ts']) }}</td>

            <td>{{ event['nick'] }}</td>

            <td>{{ event.get('user', '') }}</td>

            <td>{{ event.get('host', '') }}</td>

            <td>
              {% if event['ip'] %}
                <a href="http://www.geoiptool.com/en/?ip={{ event['ip'] }} ">
                  {{ event['ip'] }}
                </a>
              {% endif %}
            </td>

            <td>
              {{ g.event_to_str(event['event']) }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <nav>
        <ul class="pagination pagination-sm pull-right">
          {% if page == 1 %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page if page == 1 else page - 1) }}">
              &laquo;
            </a>
          </li>

          {% if g.total_pages(count, limit) <= 10 %}

            {% for i in range(1, g.total_pages(count, limit) + 1) %}

              {% if i == page %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}

              <a href="{{ g.replace_page(request.url, i) }}">
                {{ i }}
              </a>

              </li>

            {% endfor %}
          {% else %} 
            {% if g.total_pages(count, limit) - page < 4 %}

              <li>
                <a href="{{ g.replace_page(request.url, 1) }}">
                  1
                </a>
              </li>
              <li>
                <a href="{{ g.replace_page(request.url, 2) }}">
                  ... 
                </a>
              </li>

              {% for i in range(g.total_pages(count, limit) - 4, g.total_pages(count,limit) + 1) %}
                   
                {% if i == page %}
                  <li class="active">
                {% else %}
                  <li>
                {% endif %}

                <a href="{{ g.replace_page(request.url, i) }}">
                  {{ i }}
                </a>
          
                </li>
              {% endfor %}

          {% elif page < 6 %}
            {% for i in range(1, 7) %}

              {% if i == page %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}

              <a href="{{ g.replace_page(request.url, i) }}">
                {% if i == 6 %}
                  ...
                {% else %}
                  {{ i }}
                {% endif %}
              </a>

              </li>
           {% endfor %}
     
            <li>
              <a href="{{ g.replace_page(request.url, g.total_pages(count, limit)) }}">
                  {{ g.total_pages(count, limit) }}
              </a>
            </li>
          {% else %}

            <li>
              <a href="{{ g.replace_page(request.url, 1) }}">
                1
              </a>
            </li>
            <li>
              <a href="{{ g.replace_page(request.url, 2) }}">
                ... 
              </a>
            </li>

            {% for i in range(page - 2, page + 4) %}
              {% if i == page %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}

              <a href="{{ g.replace_page(request.url, i) }}">
                {% if i == page + 3 %}
                  ...
                {% else %}
                  {{ i }}
                {% endif %}
              </a>

              </li>
            {% endfor %}

            <li>
              <a href="{{ g.replace_page(request.url, g.total_pages(count, limit)) }}">
                {{ g.total_pages(count, limit) }}
              </a>
            </li>
          {% endif %}
        {% endif %}

          {% if page + 1 > g.total_pages(count, limit) %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page + 1) }}">
              &raquo;
            </a>
          </li>
        </ul>
      </nav>

    {% else %}

      <br><br>      
      <h2 class="text-center">No results found</h2>

    {% endif %}
  </div>
  
{% endblock %}
