{% extends "parent.html" %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <style>
    table th {
      width: auto !important;
    }
  </style>
  
  <script text="text/javascript">
    $(document).ready(function() {
      $("[rel=tooltip]").tooltip({ placement: 'top'});
    });
  </script>

{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <br>

    {% if g.num_results(count, page, limit) > 0 %}
      <nav>
        <ul class="pagination pagination-sm pull-right">
          {% if page == 1 %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page if page == 1 else page - 1) }}">
              &laquo;
            </a>
          </li>

          {% for i in range(1, g.total_pages(count, limit) + 1) %}

            {% if i == page %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}

              {% if g.total_pages(count, limit) > 9 %}
                {% if i < 4 or page - 1 <= i <= page + 1  or i >= g.total_pages(count, limit) - 2 %}
                  <a href="{{ g.replace_page(request.url, i) }}">
                    {{ i }}
                  </a>
                  {% elif i == page + 2 or (page > 4 and i == 4) %}
                  <a href="{{ g.replace_page(request.url, i) }}">
                    ...
                  </a>
                {% endif %}
              {% else %}
                <a href="{{ g.replace_page(request.url, i) }}">
                  {{ i }}
                </a>
              {% endif %}
            </li>
          {% endfor %}

          {% if page + 1 > g.total_pages(count, limit) %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page + 1) }}">
              &raquo;
            </a>
          </li>
        </ul>
      </nav>

      <table class="table table-hover"> 
        <thead>
          <tr class="row">
            <th>
              Time
              <span class="glyphicon glyphicon-info-sign"
                    rel="tooltip" title="All times given in UTC">
              </span>
            </th>
            <th>Nick</th>
            <th>User</th>
            <th>Host</th>
            <th>GeoIP</th>
            <th>Event</th>
          </tr>
        </thead>
        
        <tbody>
        {% for event in events %}
          <tr class="row">
            <td>{{ g.epoch_to_str(event['ts']) }}</td>

            <td>{{ event['nick'] }}</td>

            <td>{{ event.get('user', '') }}</td>

            <td>{{ event.get('host', '') }}</td>

            <td>
              {% if event['ip'] %}
                <a href="http://www.geoiptool.com/en/?ip={{ event['ip'] }} ">
                  {{ event['ip'] }}
                </a>
              {% endif %}
            </td>

            <td>
              {{ g.event_to_str(event['event']) }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <nav>
        <ul class="pagination pagination-sm pull-right">
          {% if page == 1 %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page if page == 1 else page - 1) }}">
              &laquo;
            </a>
          </li>

          {% for i in range(1, g.total_pages(count, limit) + 1) %}

            {% if i == page %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}

              {% if g.total_pages(count, limit) > 9 %}
                {% if i < 4 or page - 1 <= i <= page + 1  or i >= g.total_pages(count, limit) - 2 %}
                  <a href="{{ g.replace_page(request.url, i) }}">
                    {{ i }}
                  </a>
                  {% elif i == page + 2 or (page > 4 and i == 4) %}
                  <a href="{{ g.replace_page(request.url, i) }}">
                    ...
                  </a>
                {% endif %}
              {% else %}
                <a href="{{ g.replace_page(request.url, i) }}">
                  {{ i }}
                </a>
              {% endif %}
            </li>
          {% endfor %}

          {% if page + 1 > g.total_pages(count, limit) %}
            <li class="disabled">
          {% else %}
            <li>
          {% endif %}
            <a href="{{ g.replace_page(request.url, page + 1) }}">
              &raquo;
            </a>
          </li>
        </ul>
      </nav>

    {% else %}

      <br><br>      
      <h2 class="text-center">No results found</h2>

    {% endif %}
  </div>
  
{% endblock %}
